In [15]:
import pandas as pd
import os

In [16]:
os.listdir('csv')

['level_HV_power_dynamic.csv',
 'level_HV_power_static.csv',
 'level_LV_power_dynamic.csv',
 'level_LV_power_static.csv',
 'level_MV_power_dynamic.csv',
 'level_MV_power_static.csv',
 'network_power_dynamic.csv',
 'network_power_static.csv',
 'section_1_power_dynamic.csv',
 'section_1_power_static.csv',
 'section_2_power_dynamic.csv',
 'section_2_power_static.csv',
 'section_3_power_dynamic.csv',
 'section_3_power_static.csv',
 'section_4_power_dynamic.csv',
 'section_4_power_static.csv',
 'section_5_power_dynamic.csv',
 'section_5_power_static.csv',
 'section_6_power_dynamic.csv',
 'section_6_power_static.csv',
 'transformer_capacity_dynamic.csv',
 'transformer_capacity_static.csv',
 'transformer_power_dynamic.csv',
 'transformer_power_static.csv']

In [17]:
transformer_df = pd.read_csv('csv/transformer_power_static.csv', index_col='snapshot')
transformer_df

,1071763866_Transformer0,1071746625_Transformer0,1072051579_Transformer0,1071746557_Transformer0
snapshot,,,,
0,6.03879,6.00121,-0.28,0.41

In [18]:
for col in transformer_df.columns:
    print(col, transformer_df[col].tolist())

1071763866_Transformer0 [6.03879]
1071746625_Transformer0 [6.00121]
1072051579_Transformer0 [-0.28]
1071746557_Transformer0 [0.41]

In [19]:
transformer_cap = pd.read_csv('csv/transformer_capacity_static.csv', index_col='name')
transformer_cap

                         s_nom
name
1071763866_Transformer0  63.00
1071746625_Transformer0  63.00
1072051579_Transformer0   0.63
1071746557_Transformer0   0.63

In [20]:
df = transformer_cap['s_nom'].to_dict()

for k,v in df.items():
    df[k] = [v] * 24

for k,v in df.items():
    print(k,v)

df

1071763866_Transformer0 [63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0]
1071746625_Transformer0 [63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0, 63.0]
1072051579_Transformer0 [0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63]
1071746557_Transformer0 [0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63, 0.63]

{'1071763866_Transformer0': [63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0],
 '1071746625_Transformer0': [63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0,
  63.0],
 '1072051579_Transformer0': [0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63],
 '1071746557_Transformer0': [0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63,
  0.63]}

In [21]:
tran = transformer_df
tran_cap = transformer_cap

for col in tran.columns:
    print(round(abs(tran[col].tolist()[0] / tran_cap['s_nom'].loc[col] * 100), 2))
    print(col, tran[col].tolist(), tran_cap['s_nom'].loc[col])

9.59
1071763866_Transformer0 [6.03879] 63.0
9.53
1071746625_Transformer0 [6.00121] 63.0
44.44
1072051579_Transformer0 [-0.28] 0.63
65.08
1071746557_Transformer0 [0.41] 0.63

In [22]:
section_1_static_df = pd.read_csv('csv/section_1_power_static.csv', index_col='snapshot')
section_1_static_df

          Generation  Load
snapshot
0             12.284   0.0

In [39]:
section_1_static_df.to_dict(orient='records')[0]

{'Generation': 12.284, 'Load': 0.0}

In [25]:
section_1_dynamic_df = pd.read_csv('csv/section_1_power_dynamic.csv', index_col='snapshot')
section_1_dynamic_df

                     Generation  Load
snapshot
2021-07-01 00:00:00   19.515000   0.0
2021-07-01 01:00:00   19.492600   0.0
2021-07-01 02:00:00   19.472000   0.0
2021-07-01 03:00:00   19.469400   0.0
2021-07-01 04:00:00   19.210300   0.0
2021-07-01 05:00:00   16.592900   0.0
2021-07-01 06:00:00   11.585600   0.0
2021-07-01 07:00:00    5.751990   0.0
2021-07-01 08:00:00    0.634795   0.0
2021-07-01 09:00:00    0.000000   0.0
2021-07-01 10:00:00    0.000000   0.0
2021-07-01 11:00:00    0.000000   0.0
2021-07-01 12:00:00    0.000000   0.0
2021-07-01 13:00:00    0.000000   0.0
2021-07-01 14:00:00    0.000000   0.0
2021-07-01 15:00:00    0.000000   0.0
2021-07-01 16:00:00    0.000000   0.0
2021-07-01 17:00:00    4.497590   0.0
2021-07-01 18:00:00    8.564600   0.0
2021-07-01 19:00:00   14.329500   0.0
2021-07-01 20:00:00   18.478700   0.0
2021-07-01 21:00:00   19.512200   0.0
2021-07-01 22:00:00   19.513200   0.0
2021-07-01 23:00:00   19.515000   0.0

In [35]:
section_1_dynamic_df.to_dict(orient='list')

{'Generation': [19.515,
  19.4926,
  19.472,
  19.4694,
  19.2103,
  16.5929,
  11.5856,
  5.75199,
  0.634795,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  4.49759,
  8.5646,
  14.3295,
  18.4787,
  19.5122,
  19.5132,
  19.515],
 'Load': [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0]}

In [42]:
network_df = pd.read_csv('csv/network_power_static.csv', index_col='snapshot')
network_df.to_dict(orient='records')[0]

{'Storage': 1.7, 'Generation': 31.614, 'Load': 33.31400000000001}

In [45]:
network_df = pd.read_csv('csv/network_power_dynamic.csv', index_col='snapshot')
d = network_df.to_dict(orient='list')

for k,v in d.items():
    print(k,v)

Storage [0.0617893, 0.0406657, 0.0289714, 0.0274768, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.231086, 0.0, 0.231086, 0.212139, 0.166786]
Generation [32.645, 32.6226, 32.602000000000004, 32.5994, 32.615665, 32.5947, 32.61242, 32.65719, 32.719695, 32.75829, 32.76051, 32.77056, 32.804, 32.777249999999995, 32.75963, 32.730599999999995, 32.72506, 32.75739, 32.849000000000004, 32.67769, 32.90791, 32.644259, 32.6432, 32.645]
Load [32.70674981100002, 32.66327876499999, 32.63101139, 32.62689119900002, 32.615655055, 32.594660357, 32.612444153000006, 32.65724258700001, 32.71965838500001, 32.75832321400001, 32.760515236, 32.770582300000015, 32.80403093199999, 32.77728014499999, 32.75962218999998, 32.730557602000005, 32.72506537099997, 32.757389575000005, 32.84896738300001, 32.90876087200002, 32.907908419000016, 32.87539342600001, 32.85529989100002, 32.81174360200001]